<<<template "header">>>
    	<title>登录 - 我的博客</title>
  	</head>
	
	<body ng-app = "loginApp" ng-controller = "loginCtrl">
		<div class="container" style="width: 500px;">
			<form class="form-horizontal" method="POST" action="/login">
			  <div class="form-group">
			    <label class="col-lg-4 control-label">帐号：</label>
			    <div class="col-lg-6">
			      <input id="uname" class="form-control" name="uname" placeholder="Account">
			    </div>
			  </div>

			  <div class="form-group">
			    <label class="col-lg-4 control-label">密码：</label>
			    <div class="col-lg-6">
			      <input id="pwd" type="password" class="form-control" name="pwd" placeholder="Password">
			    </div>
			  </div>

			  <div class="form-group">
			    <div class="col-lg-offset-4 col-lg-10">
			      <div class="checkbox">
			        <label>
			        	<input name="autoLogin" type="checkbox">下次自动登录
			        </label>
			      </div>
			    </div>
			  </div>

			  <div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
				    	<a href="/login"><button type="submit" class="btn btn-default" ng-click = "checkInput($event)">登录</button></a>
			      	<button class="btn btn-default" ng-click ="backToHome()">返回</button>
			    </div>
			  </div>
			</form>
		</div>
	</body>	
	
	    <<<template "javascript">>>
		
		<!--AngularJS-->
		<script type="text/javascript" src="/static/js/controllers/login.js"></script>		
		<!---->
		
		<!--ToolsJS-->
		<script type="text/javascript" src="/static/js/tools.js"></script>		
		<!---->

	
</html>
